<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 justify-center items-center flex">
        <button class="mt-10 ml-10 px-4 py-2 bg-blue-600 text-white rounded-lg" onclick="window.location.href='/createyoursurvey'">Create your survey</button>
        <button class="mt-10 ml-10 px-4 py-2 bg-green-600 text-white rounded-lg">response to survey</button>

    </div>
    
</body>
</html>