<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900">

    <div class="w-full h-20 text-white py-7 border-2 border-blue-500">
        <a href="" class="px-4 text-blue-500">home</a>
        <a href="" class="px-4 text-blue-500">about</a>
        <a href="" class="px-4 text-blue-500">feature</a>
        <a href="" class="px-4 text-blue-500">survey</a>
        <a href="" class="px-4 text-white float-right mr-20 border-2 border-white-500 rounded-lg py-1 bg-green-700">Register</a>
    </div>
    <div class="w-full h-screen justify-center items-center flex bg-zinc-900 border-2 border-white">
        <a class="mt-10 ml-10 px-4 py-2 bg-blue-600 text-white rounded-lg" href='/createyoursurvey'>Create your survey</a>
        <a class="mt-10 ml-10 px-4 py-2 bg-green-600 text-white rounded-lg" href='/readsurvey'>response to survey</a>
    </div>

    <div class="text-white w-200 h-100 border-2 border-white mt-10 ml-90 rounded-lg p-5">
        <h1 class="">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse assumenda iusto minima facere, repellat amet commodi tenetur optio quasi recusandae illum rerum aliquid modi, debitis, explicabo perferendis iste similique consequuntur! Lorem, ipsum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugiat numquam quidem inventore impedit at aliquam quaerat delectus enim ea ullam totam, quasi recusandae perferendis omnis explicabo sequi illo eum?</p>
    </div>
    <div class="text-white w-200 h-100 border-2 border-white mt-10 rounded-md ml-90 p-5">
        <h1 class="">Features</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, necessitatibus? Odio modi quisquam reiciendis nulla, in voluptate soluta recusandae. Odio commodi aliquam minus ducimus architecto atque, dolorem voluptatum ipsa ipsum. lorem
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem accusantium enim aut ad itaque id sunt, in explicabo, cupiditate mollitia ipsam non maiores adipisci voluptate quis doloremque modi consectetur totam.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi recusandae impedit sunt harum dolorum debitis fuga est aut ex quos laboriosam omnis, autem, qui non ad perspiciatis ipsum dolore!
        </p>
    </div>
    <footer class="w-full h-72 bg-black">
        
    </footer>
</body>
</html>